* {
	box-sizing: inherit;
}

*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 10px;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.6rem;
	background: #ece9e9;
	color: #fff;
	margin: 0;
}

main {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	padding: 3rem;
}

h2 {
	font-size: 2.4rem;
	margin: 0;
}

p {
	margin: 0;
}

img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

a {
	text-decoration: none;
}
